<mat-card class="menu-dropdown-card">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around start" class="menu-dropdown">
    <div fxFlex="40%">
      <div class="header">
        Topwear
      </div>
      <div>
          <div>Tshirts</div>
          <div>Shirts</div>
          <div>Jackets</div>
      </div>
    </div>
    <div fxFlex="40%"></div>
    <div fxFlex="20%" fxLayoutAlign="center center">
      <img mat-card-image
           src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-8.jpg"
           alt="Photo of a Shiba Inu">
    </div>
  </div>
</mat-card>