<mat-card class="menu-dropdown-card">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around start" class="menu-dropdown">
    <div fxFlex="20%" fxLayoutAlign="start stretch" style="height: 100%">
      <img class="menu-dropdown-image"
           src="http://bestjquery.com/tutorial/product-grid/demo9/images/img-8.jpg"
           alt="Photo of a Shiba Inu">
    </div>
    <div fxFlex="20%">
      <div class="category">
        Topwear
      </div>
      <div class="sub-category">
          <div>Tshirts</div>
          <div>Shirts</div>
          <div>Jackets</div>
        <div>Casual Shirts</div>
        <div>Formal Shirts</div>
        <div>Sweatshirt</div>
      </div>
    </div>
    <div fxFlex="20%">
      <div class="category">
        Bottom Wear
      </div>
      <div class="sub-category">
        <div>Formal Trouser</div>
        <div>Casual Trouser</div>
        <div>Jeans</div>
      </div>
    </div>
    <div fxFlex="20%">
      <div class="category">
        Inner Wear
      </div>
      <div class="sub-category">
        <div>Briefs and Trunks</div>
        <div>Boxers</div>
        <div>Vests</div>
        <div>Thermal Wear</div>
        <div>SleepWear</div>
      </div>
    </div>
    <div fxFlex="20%">
      <div class="category">
        Sports Wear
      </div>
      <div class="sub-category">
        <div>Active T-shirts</div>
        <div>Track Pants</div>
        <div>Shorts</div>
        <div>Track suits</div>
        <div>Swim Wear</div>
        <div>Jacket</div>
      </div>
    </div>

  </div>
</mat-card>