<div class="app-body body-config">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="20%" class="login-card">
      <mat-card-header class="info-color white-text text-center py-4">
        <mat-card-title>Sign up For {{ constants.COMPANY_NAME}}</mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding: 10px" fxLayout="column" fxLayoutGap="15px">

        <form fxLayout="column" fxLayoutGap="10px">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Mobile Number" [formControl]="contactNumberFormControl">
            <mat-error *ngIf="contactNumberFormControl.hasError('pattern') && !contactNumberFormControl.hasError('required')">
              Mobile Number should not be more than 10 digit
            </mat-error>
            <mat-error *ngIf="contactNumberFormControl.hasError('required')">
              Mobile Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="accent" class="full-width">Register</button>
        </form>

        <hr class="line-divider" />

        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
          You already have an Account <a href="/forget-password" class="no-outline">Login </a>
        </div>

        <hr class="line-divider" />

        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
          <button mat-raised-button class="full-width" (click)="signInWithFB()"><i class="fa fa-facebook-official facebook-button"></i> Facebook </button>
          <button mat-raised-button class="full-width" (click)="signInWithGoogle()"><i class="fa fa-google google-button"></i> Google </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
