<div class="footer-card" fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
  <div fxFlex="5"></div>
  <div fxFlex="50" fxLayout="row">
    <a href="" class="footer-link">Legal Notice</a>
    <a href="" class="footer-link">Term and Condition</a>
    <a href="" class="footer-link">Privacy Policy</a>
    <a href="" class="footer-link">Data Tracking</a>
  </div>
  <div fxFlex="10%" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
    <div>
      {{constants.COMPANY_NAME}} Apps
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="font-size: 14px">
      <i class="fa fa-google icon-size"  aria-hidden="true"></i>
      <i class="fa fa-apple icon-size" aria-hidden="true"></i>
    </div>
  </div>
  <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
      <div>
        You can find out us on
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="font-size: 14px">
        <i class="fa fa-facebook-official icon-size"  aria-hidden="true"></i>
        <i class="fa fa-twitter icon-size" aria-hidden="true"></i>
        <i class="fa fa-google-plus icon-size" aria-hidden="true"></i>
        <i class="fa fa-instagram icon-size" aria-hidden="true"></i>
      </div>
  </div>
  <div fxFlex="5%"></div>
  </div>
  <div fxLayoutAlign="center center">
    Copyright ©2019 All rights reserved | This template is made with  by {{constants.COMPANY_NAME}}
  </div>
</div>