<div class="app-body body-config">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="20%" class="login-card">
      <mat-card-header class="info-color white-text text-center py-4">
        <mat-card-title>Recover Your Password</mat-card-title>
      </mat-card-header>

      <mat-card-content style="padding: 10px" fxLayout="column" fxLayoutGap="15px">
        <form fxLayout="column" fxLayoutGap="10px">
          <mat-form-field class="full-width">
            <input matInput placeholder="Enter your Email Id" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="accent" class="full-width">Send Reset Link</button>
        </form>

        <hr class="line-divider" />

        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
          You already have an Account <a href="/login" class="no-outline">Login </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
