.search-bar {
    border-radius: 50px;
    padding-left: 10px;
}

input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-position: 12px 9px;
    background-repeat: no-repeat;
    padding: 6px 15px 2px 37px;
    background-image: url('../../../assets/slider/image-1.jpg');
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
    outline: none;
}

