.full-width {
    width: 100%;
    outline: none;
}


.body-config {
    background-color: #FEEDF6;
    padding-bottom: 30px;
}

.facebook-button {
    color: darkblue;
    font-size: 2em;
    margin-right: 5px;
}

.google-button {
    color: darkblue;
    font-size: 2em;
    margin-right: 5px;
}

.login-card {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    border-radius: 0;
}

.line-divider {
    border-bottom: deeppink 1px solid;
    width: 100px;

}