<div class="card-layout">
  <div class="left-card-block">
    <div class="offer-info">
      <span>offer details div</span>
    </div>
    <div class="shipping-info">
      <span>shipping details div</span>
    </div>
    <div class="item-header">
      <h6>
        <span>My Shopping Bag </span>
        <span>( 1 Items )</span>
      </h6>
      <div class="total-cart-value">
        <span>Total :</span>
        <span>Rs. 800</span>
      </div>
    </div>
    <app-cart-item></app-cart-item>
  </div>
  <div class="right-card-block">
    <div>
      <div class="optionsBlock-base-optionsHeader"></div>
      <div class="coupons-base-couponSection">
        <p style="font-size: 12px;">This is option block</p>
      </div>
      <div class="giftWrap-base-giftwrapSection">
        <p style="font-size: 12px;">This is gift section</p>
      </div>
    </div>
    <div class="price-block">

    </div>
  </div>
</div>