.card-layout {
    max-width: 980px;
    margin: auto;
    padding: 0 10px 16px;
    min-height: 320px;
    /* background: red; */
}

.left-card-block {
    display: inline-block;
    width: 70%;
    padding-right: 4%;
    border-right: 1px solid #eaeaec;
    margin-top: 30px;
}

.right-card-block {
    vertical-align: top;
    display: inline-block;
    width: 29%;
    padding: 35px 0 0 35px;
}

.offer-info {
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #eaeaec;
    border-left: 3px solid #14c8a8;
    text-align: left;
    line-height: 16px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 12px;
}

.shipping-info {
    height: 48px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: #fff;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    padding: 0 10px;
}

.item-header {
    padding: 4px 5px 12px 3px;
}

.optionsBlock-base-optionsHeader {
    font-size: 12px;
    font-weight: 600;
    color: #7e818c;
}

.coupons-base-couponSection {
    padding-bottom: 20px;
    margin: 10px 0;
    border-bottom: 1px dotted #d4d5d9;
    position: relative;
}

.giftWrap-base-giftwrapSection {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px dotted #d4d5d9;
}

.item-header h6,
.total-cart-value {
    display: inline-block;
}

.total-cart-value {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    color: #535766;
    float: right;
}