
  <mat-list class="filter-list">
    <h3 mat-subheader>CATEGORIES</h3>
    <mat-list-item><mat-checkbox>Kurties</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox>Tops</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox>Tunics</mat-checkbox></mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader>BRANDS</h3>
    <mat-list-item><mat-checkbox>FabIndia</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox>Sangria</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox>Naari</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox>Soch</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox>Global Desi</mat-checkbox></mat-list-item>

    <mat-divider></mat-divider>

      <h3 mat-subheader>SIZE</h3>
    <mat-list-item><mat-checkbox>28</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox>30</mat-checkbox></mat-list-item>
      <mat-list-item><mat-checkbox>32</mat-checkbox></mat-list-item>
      <mat-list-item><mat-checkbox>34</mat-checkbox></mat-list-item>
      <mat-list-item><mat-checkbox>36</mat-checkbox></mat-list-item>


    <mat-divider></mat-divider>

    <h3 mat-subheader>PRICE</h3>
    <mat-slider style="width: 100%" thumbLabel
                tickInterval="10"
                min="1"
                max="100"></mat-slider>

    <mat-divider></mat-divider>
  </mat-list>
