<div fxLayout="row" fxLayoutGap="25px">
    <div fxFlex="20%">Filters</div>
    <div fxFlex="80%" fxLayoutGap="10px" fxLayout="row wrap" class="products" >
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
    </div>
</div>