<div fxLayout="row" fxLayoutGap="25px" style="margin: 100px">
    <div fxFlex="15%">Filters</div>
    <div fxFlex="85%" fxLayoutGap="10px" fxLayout="row wrap" class="products" >
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
    </div>
</div>