<div fxLayout="row" fxLayoutGap="25px">
    <div fxFlex="14%" fxHide.xs><side-filter></side-filter></div>
    <div fxFlex="86%" fxFlex.xs fxLayoutGap="10px" fxLayoutAlign.xs="space-around center" fxLayout="row wrap" class="products" >
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>

        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
    </div>
</div>