<div fxLayout="row">
  <div fxFlex="20"></div>
  <div fxFlex="60" >
    <div class="title">YOUR WISHLIST</div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>
    </div>

  </div>
  <div fxFlex="20"></div>
</div>
