<mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="5%"></div>
        <div fxFlex="15%"><img src="../../assets/images/logo.png" class="logo"></div>
        <div fxFlex="45%" fxLayout="row" fxLayoutGap="30px" >
            <div class="menu-header" (mouseover)="changeMenuDropdownVisibility(true)">
                Man
            </div>
            <div class="menu-header" (mouseover)="changeMenuDropdownVisibility(true)">
                Women
            </div>
            <div class="menu-header" (mouseover)="changeMenuDropdownVisibility(true)">
                Store
            </div>
            <app-menus-dropdown *ngIf="flags.showMenuDropDown" (mouseleave)="changeMenuDropdownVisibility(false)"></app-menus-dropdown>
        </div>
        <div fxFlex="20%"><search-bar></search-bar></div>
        <div fxFlex="2%"><mat-icon class="login" [matMenuTriggerFor]="menu">account_box</mat-icon>
            <mat-menu #menu="matMenu" class="profile-menu" [overlapTrigger]="false">
                <div fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <strong>Welcome</strong>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <button mat-raised-button>Sign up</button>
                            <button mat-raised-button>Login</button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <div>Orders</div>
                        <div>Wish List</div>
                    </div>
                    <mat-divider></mat-divider>
                    <div>Log out</div>
                </div>
            </mat-menu>
        </div>
        <div fxFlex="2%">
            <mat-icon class="cart" matBadge="2" matBadgeColor="warn">shopping_cart</mat-icon>

        </div>
        <div fxFlex="5%"></div>
        <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
    </mat-toolbar-row>
</mat-toolbar>