
.mat-toolbar {
    background: #353535;
    color: white;
    position: fixed;
    z-index: 99;
    top: 0;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

.menu-header {
    cursor: pointer;
}

.logo {
    width: 50%;
    height: 50px;
    cursor: pointer;
}

.login:hover, .cart:hover, .wishList:hover {
    cursor: pointer;
}

.profile-menu-card {
    padding: 5px;
    min-width : 250px;
    z-index : 99;
    font-size: 14px;
    top: 139px;
    right: 300%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.profile-card-content {
    padding: 10px;
}

.active {
    -webkit-box-shadow: 0 8px 0 0 pink;
    -moz-box-shadow: 0 8px 0 0 pink;
    box-shadow: 0 8px 0 0 pink;
    padding-bottom: 16px;
}

.mat-icon {
    font-size: 17px;
    height: 9px;
    cursor: pointer;
}
img {
    object-fit: cover;
    height: 55px;
    width: 180px;
}